In [10]:
import pandas as pd 
import numpy as np

In [38]:
import pandas as pd
import numpy as np

data = {'Name': ['Yash', 'Sam', 'Pankho'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', np.NaN]
       }
df = pd.DataFrame(data)

print(df)

# Missing Value (NaN)
df.loc[1, 'Age'] = np.nan 
print(df)

     Name  Age      City
0    Yash   25  New York
1     Sam   30    London
2  Pankho   35       NaN
     Name   Age      City
0    Yash  25.0  New York
1     Sam   NaN    London
2  Pankho  35.0       NaN

In [37]:
# Accessing values of the column
print(df.loc[0, 'Age'])       # Access value by label-based indexing (row label 0, column 'Age')
print(df.iloc[1:3, 1:2])      # Access value by position-based indexing (row 0, column 1 which is 'Age')
print(df.iat[1, 1])           # Access single scalar value (row 0, column 1) [Row Access]
print(df.at[1,'Name'])

25.0
    Age
1   NaN
2  35.0
nan
Sam

In [40]:
#CSV File Creation

#manually
df.to_csv('Students_csv')  #File Save
df_csv= pd.read_csv('Students_csv')  
print(df_csv)

   Unnamed: 0    Name   Age      City
0           0    Yash  25.0  New York
1           1     Sam   NaN    London
2           2  Pankho  35.0       NaN

In [44]:
#BY URL
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = pd.read_csv(url, header=None)

print(iris.head()) 
print(iris.tail())

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [49]:
import pandas as pd
import numpy as np

data = {'Name': ['Yash', 'Sam', 'Pankho'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', np.NaN]
       }
df = pd.DataFrame(data)


# Add the correct file extension '.xlsx'
df.to_excel('Students.xlsx')
df_excel = pd.read_excel('Students.xlsx', index_col=0)
print(df_excel)

     Name  Age      City
0    Yash   25  New York
1     Sam   30    London
2  Pankho   35       NaN

In [63]:
import pandas as pd
from sklearn.datasets import load_iris

# Create a DataFrame. Here, we'll use the Iris dataset.
df = iris.frame

# Save the DataFrame to an Excel file.
df.to_excel('Iris.xlsx')

df_excel = pd.read_excel('Iris.xlsx', index_col=0)

print(df_excel)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]

In [59]:
import pandas as pd
import seaborn as sis
tips=sis.load_dataset("tips")
print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4